:root {
  --main-color: 255, 119, 26;
  --border-color: 211, 200, 200;
  --hover-bg-color: 237, 236, 236;
  --margin-size: min(4vw, 1.3rem);
  --gap-size: 0.6rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Maven Pro', sans-serif;
  font-size: clamp(1rem, 3.2vw, 1.3rem);
}

.page-container {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'head head'
    'side main';
  
  min-width: 320px;
  height: 100vh;

  background-color: rgb(251, 251, 251);
}

header {
  grid-area: head;
}

.sidebar {
  grid-area: side;
}

main {
  grid-area: main;
}

.media-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media {
  display: flex;
  align-items: center;
  gap: var(--gap-size);
}

.hidden {
  visibility: hidden;
}
