$negative-sidebar-width: calc(var(--sidebar-width) * -1);

.sidebar {
  position: absolute;
  right: $negative-sidebar-width;
  top: 0;
  bottom: 0;

  visibility: hidden;
  overflow-y: auto;
  border-left: 1px solid rgb(var(--border-color));
  background-color: rgb(var(--second-color));
  z-index: 1;

  .container {
    display: flex;
    flex-direction: column;

    margin: var(--margin-size);
    margin-right: 0;
    overflow-y: auto;
  }

  .media-container {
    gap: var(--gap-size);
    padding: var(--gap-size);
    padding-right: 1rem;
  }

  ul {
    max-height: 12rem;
    margin: 0;
    padding-left: var(--gap-size);
    list-style-type: none;
    overflow: hidden auto;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
  }
  
  li {
    padding: var(--gap-size);
    padding-right: 0;

    .media {
      overflow: hidden;
    }
  }

  .clickable-elem:hover {
    background-color: rgb(var(--hover-bg-color));
  }

  .extra-margin-top {
    margin-top: calc(var(--margin-size) / 2);
  }

  .add {
    padding: var(--gap-size);
  }

  .text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
  }
}

.all-icon {
  color: rgb(var(--all-icon-color));
}

.today-icon {
  color: rgb(var(--today-icon-color));
}

.week-icon {
  color: rgb(var(--week-icon-color));
}

.archive-icon {
  color: rgb(var(--archive-icon-color));
}

.counter {
  padding: 0 var(--gap-size);
  color: rgb(var(--main-color));
  font-weight: bold;
}

.color {
  flex: 0 0 auto;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  background-color: rgb(var(--default-color));
}

.showSidebar {
  translate: $negative-sidebar-width 0;
  visibility: visible;
}

@media screen and (min-width: 48rem) {
  .sidebar {
    position: static;
    visibility: visible;
    translate: 0 0;
    border-left: none;
    border-right: 1px solid rgb(var(--border-color));
  }
}
